@model OnlineShopping_Application.Models.OrderDetailViewModel

@{
    ViewBag.Title = "Details";
}
<br/><br/>
<div class="container body-content">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CustomerName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CustomerAddress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerAddress)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CustomerPhn)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CustomerPhn)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PaymentId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PaymentId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PaymentType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PaymentType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PaymentDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PaymentDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OrderId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OrderId)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OrderDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OrderDate)
                </dd>

            </dl>
            <br/><br/>
            @Html.ActionLink("This Order is Done", "OrderDone", new { paymentId = Model.PaymentId })<br /><br />
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
        <p>
           
        </p>
    
</div>