@model OnlineShopping_Application.Models.ProductDetailViewModel

@{
    ViewBag.Title = "Details";
}
<br/><br/>
<div class="container body-content">
    <div class="row">
        <div class="col-md-8">
            <div class="thumbnail">
                <div class="form-group">
                    <h3>Name : @Model.Name</h3>
                </div>
               
                </div><br />
            <div class="thumbnail">
                <img src="@Url.Content(Model.ImageUrl)" width="500" height="500"/>
            </div><br/>
            <div class="thumbnail"><h4>Price : @Model.Price</h4></div><br/>
            <div class="thumbnail"><h4>Description : @Model.Description</h4></div><br/>
        </div>
        <div class="col-md-4">
            <br/><br/><br /><br /><br /><br />
            @using (Html.BeginForm())
            {<div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Qunatity, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Qunatity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Qunatity, "", new { @class = "text-danger" })
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Add to Cart" class="btn btn-default btn-success" />
                    </div>
                </div>
            </div>
            }
        </div >
                </div >
            

   
    
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
