@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="dropdown">
                    <button class="dropbtn">"Hello " @User.Identity.GetUserName() </button>
                    @{
                        if (User.IsInRole("User"))
                        {
                            <div class="dropdown-content">
                                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                                @Html.ActionLink("My Detail", "ShowUserDetail", "User")
                                @*@Html.ActionLink("Update Password","UpdatePassword","User")*@
                                @Html.ActionLink("Update Detail", "EditUserDetail", "User")
                                @Html.ActionLink("My Cart", "UserCartList", "Cart")
                            </div>

                        }
                        else if (User.IsInRole("Admin"))
                        {
                            <div class="dropdown-content">
                                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })*@
                                @Html.ActionLink("My Detail", "ShowUserDetail", "User")
                                @*@Html.ActionLink("Update Password","UpdatePassword","User")*@
                                @Html.ActionLink("Update Detail", "EditUserDetail", "User")
                                @Html.ActionLink("Current Orders", "Index", "Order")
                            </div>

                        }
                    }
                    
                </div>
            </li>
           <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><div class="dropdown">
    <button class="dropbtn">Category</button>
    <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
    </div>
</div></li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new {id = "registerLink"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    </ul>
}
